{% extends 'base.html' %}

{% block title %}
  All categories
{% endblock title %}

{% block banner %}
  {% include "banner.html" %}
{% endblock banner %}

{% block content %}
<div class="container-fluid mt-5 mb-5">
    <h1>All categories</h1>
    <div class="row">
        {% if categories %}
            {% for item in categories %}
            <!-- box1 -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 mt-2 mb-2 w-25">
                    <div class="card text-center">
                        <a href="{% url 'category' item.id %}"></a><img src="{{item.image.url}}" class="card-img-top w-50 mx-auto mt-4">
                        <div class="card-body mt-3">
                            <a href="{% url 'category' item.id %}"><h5 class="card-title">{{item.title}}</h5></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
  </div>
{% endblock content %}