{% extends 'base.html' %}


{% block title %}
  Single Category
{% endblock title %}


{% block content %}
  
<div class="container-fluid mt-5 mb-5">
    <h1>Single Category Products</h1>
    <div class="row">
        {% if category %}
            {% for item in category %}
            <!-- box1 -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 mt-2 mb-2 w-25">
                        <div class="card text-center">
                            <img src="{{item.image.url}}" class="card-img-top w-50 mx-auto mt-4">
                                <div class="card-body mt-3">
                                    <h5 class="card-title">Product: {{item.name}}</h5>
                                    <h5 class="card-title">Category: {{item.category}}</h5>
                                    <p class="card-text"> # {{item.price}}</p>
                                </div>
                        </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}