{% extends 'base.html' %}

{% block title %}
  Product Details
{% endblock title %}


{% block content %}
<div class="container-fluid mt-5 mb-5">
    <h1>Product Details</h1>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mt-2 mb-2 w-25">
            <div class="card text-center">
                <img src="{{details.image.url}}" class="card-img-top w-50 mx-auto mt-4">
                <div class="card-body mt-3">
                    <h5 class="card-title">Product: {{details.name}}</h5>
                    <h5 class="card-title">Category: {{details.category}}</h5>
                    <p class="card-text">{{details.description}}</p>
                    <p class="card-text"># {{details.price}}</p>
                </div>
                <form style="width: 400px;" method="POST" action="{% url 'addtocart' %}">
                {% csrf_token %}
                    <input type="number" name="quantity" value="1" min="{{details.min}}" max="{{details.max}}" style="width: 50px;">
                    <input type="hidden" name="itemid" value="{{details.id}}">
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    </div>



{% endblock content %}